body {
  background-color: var(--siteBg);
  overflow: hidden;
  color: white;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.content {
  padding-top: 32px;
}

.content main {
  overflow-y: auto;
  height: calc(100vh - 30px);
}

.content .main_container {
  padding-left: 62px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Chrome tool */
.chrome-tool {
  width: 100%;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  padding: 2px;

  color: white;
  background-color: var(--paperColor);
}

.chrome-tool-inside {
  padding: 5px 10px;

  display: flex;
  place-items: center;

  -webkit-app-region: drag;
}

.chrome-buttons {
  display: flex;
  place-items: center;
  -webkit-app-region: no-drag;
}

.chrome-buttons > * {
  margin: 0 5px;
}
.chrome-buttons > :first-child {
  margin-left: 0;
}

.chrome-buttons > :last-child {
  margin-right: 0;
}

.chrome-tool-title {
  display: flex;
  place-items: center;
}

.pointer {
  cursor: pointer;
}

.close-button {
  fill: #ff5f57;
}

.close-button:hover {
  fill: #c53028;
}

.maximize-button {
  fill: #ffbe2f;
}

.maximize-button:hover {
  fill: #a87300;
}

.minimize-button {
  fill: #28ca42;
}

.minimize-button:hover {
  fill: #008516;
}

/* Navbar */

.navbar {
  width: 62px;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;

  padding-top: 42px;
  padding-bottom: 16px;

  overflow-y: scroll;
  background-color: var(--paperColor);
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar > * {
  margin: 15px 0;
}

.navbar > :first-child {
  margin-top: 0;
}

.navbar > :last-child {
  margin-bottom: 0;
}

.server-item {
  display: flex;
  justify-content: center;
  text-align: center;

  border-left: 2px solid var(--paperColor);
  transition: 400ms all ease;
}

.server-item-active {
  border-left: 2px solid var(--blue);
  transition: 400ms all ease;
}

.server-item .img {
  display: grid;
  place-items: center;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--paperColor-Light);
  transition: 400ms all ease;
}

.server-item .img img {
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  transition: 400ms all ease;
}

.server-item .img:hover img {
  object-position: center;
  object-fit: cover;
  border-radius: 35%;
}

.server-item .img:hover {
  background-color: var(--blue);
  border-radius: 35%;
}

.server-item-active .img img {
  background-color: var(--blue);
  border-radius: 35%;
}

.serverForm {
  margin-top: 52px;
}

.serverForm > * {
  margin: 20px 0;
}

.serverForm > :first-child {
  margin-top: 0;
}

.serverForm > :last-child {
  margin-bottom: 0;
}

/* Server Page */

.tab-content {
  padding-top: 20px;
}

.tab-content > * {
  margin: 20px 0;
}

.tab-content > :first-child {
  margin-top: 0;
}

.tab-content > :last-child {
  margin-bottom: 0;
}

.tab-spacer {
}

.tab-spacer > * {
  margin: 0 5px;
}
.tab-spacer > :first-child {
  margin-left: 0;
}

.tab-spacer > :last-child {
  margin-right: 0;
}

.tab-spacer-y {
}

.tab-spacer-y > * {
  margin: 20px 0;
}
.tab-spacer-y > :first-child {
  margin-top: 0;
}

.tab-spacer-y > :last-child {
  margin-bottom: 0;
}

/* Terminal */
.terminal {
  position: relative;
  font-family: "Consolas", "Courier New", monospace;
  font-size: small;

  padding: 10px;

  height: calc(100vh - 168px);

  background-color: var(--paperColor);
}

.terminal #content {
  height: calc(100% - 30px);
  overflow-y: auto;
  word-break: break-word;
}

.terminal-input {
  position: absolute;
  bottom: 0;
  left: 0;
}

.terminal-btns {
  position: absolute;
  top: 10px;
  right: 25px;
}

.terminal-input div {
  position: absolute;
  font-size: small;
  top: 25%;
  left: 5px;
}

.terminal-input div > * {
  height: 17px;
}

.terminal-input input {
  border: none;
  outline: none;
  font-size: small;

  padding: 10px 30px;

  margin: 0;

  background-color: var(--paperColor-Light);

  color: var(--white);
}

.input:focus {
  border: none;
  outline: none;
}

/* Utilities */
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.paper {
  background-color: var(--paperColor);
  padding: 10px;
  color: var(--white);
}

.divider {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: var(--white);
}

.btn {
  width: auto;
  color: white;
  font-weight: bold;
  text-align: center;

  border-radius: 4px;

  padding: 10px;
  background-color: var(--blue);
}

.btn:hover {
  background-color: var(--blueLight);
}

.flex-center {
  justify-content: center;
}

.f-center-y {
  place-items: center;
}

.f-right {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.w-100 {
  width: -webkit-fill-available;
}

/* Getted from https://bit.ly/3qs1m7h */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--paperColor);
}

::-webkit-scrollbar-thumb {
  background: var(--paperColor-Light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--paperColor-hover);
}
