body {
  background-color: var(--siteBg);
  margin: 0;
  overflow: hidden;
}

.content {
  padding-top: 32px;
}

.content main {
  padding-left: 72px;
  margin-top: 16px;
}

/* Chrome tool */
.chrome-tool {
  width: 100%;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  padding: 2px;

  color: white;
  background-color: var(--paperColor);
}

.chrome-tool-inside {
  padding: 5px 10px;

  display: flex;
  place-items: center;

  -webkit-app-region: drag;
}

.chrome-buttons {
  display: flex;
  place-items: center;
  -webkit-app-region: no-drag;
}

.chrome-buttons > * {
  margin: 0 5px;
}
.chrome-buttons > :first-child {
  margin-left: 0;
}

.chrome-buttons > :last-child {
  margin-right: 0;
}

.chrome-tool-title {
  display: flex;
  place-items: center;
}

.pointer {
  cursor: pointer;
}

.close-button {
  fill: #ff5f57;
}

.close-button:hover {
  fill: #c53028;
}

.maximize-button {
  fill: #ffbe2f;
}

.maximize-button:hover {
  fill: #a87300;
}

.minimize-button {
  fill: #28ca42;
}

.minimize-button:hover {
  fill: #008516;
}

/* Navbar */

.navbar {
  width: 72px;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;

  padding-top: 42px;
  padding-bottom: 16px;

  overflow-y: scroll;
  color: white;
  background-color: var(--paperColor);
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar > * {
  margin: 15px 0;
}

.navbar > :first-child {
  margin-top: 0;
}

.navbar > :last-child {
  margin-bottom: 0;
}

.server-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.server-item .img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--paperColor-Light);
  transition: 400ms all ease;
}

.server-item .img:hover {
  background-color: var(--blue);
  border-radius: 35%;
}

/* Utilities */
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.paper {
  background-color: var(--paperColor);
  padding: 10px;
  color: var(--white);
}

.divider {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: var(--white);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.nobg {
  background-color: #ffffff00 !important;
}
